@model IEnumerable<FrontEnd.Models.BitacotaSesion>

@{
    ViewData["Title"] = "Index";
}

<h1>Bitácora Sesión</h1>

<p>
    <a asp-action="Create">Crear Nueva</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEmpleado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEmpleadoNavigation.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdBitacotaSesion">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdBitacotaSesion">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.IdBitacotaSesion">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
