@model IEnumerable<FrontEnd.Models.Asistencia>

@{
    ViewData["Title"] = "Asistencias";
}

<h1>Asistencia</h1>

<p>
    <a asp-action="Create">Nueva Asistencia</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEmpleadoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTipoAsistenciaNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEmpleadoNavigation.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTipoAsistenciaNavigation.TipoAsistencia1)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdAsistencia">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdAsistencia">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.IdAsistencia">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
