@model IEnumerable<FrontEnd.Models.Rol>

@{
    ViewData["Title"] = "Index";
}

<h1>Roles</h1>

<p>
    <a asp-action="Create">Crear Nuevo Rol</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rol1)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Rol1)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdRol">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdRol">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.IdRol">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
