@model IEnumerable<FrontEnd.Models.Sede>

@{
    ViewData["Title"] = "Index";
}

<h1>Sede</h1>

<p>
    <a asp-action="Create">Crear nueva Sede</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sede1)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sede1)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdSede">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdSede">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.IdSede">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
